@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200&display=swap');
.modalContainer{
    width: 60% !important;
}

.formContainer{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    margin: auto;
    position: relative;
}

.formContainer div{
    position: relative;
    width: 93% !important;
    margin-left: 0.8rem !important;
}

.formContainer input {
    padding: 1rem !important;
    padding-left: 2.5rem !important;
    margin-top: 1rem !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #ccc !important;
    outline: none !important;
}

.icon{
    position: absolute;
    top: 2rem;
    left: 1rem;
}

.iconClose{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}


.formContainer input:focus{
    outline: none !important;
}

.btn{
    width: 40% !important;
    font-size: 13px !important;
    margin-top: 1.3rem !important;
    margin-left: 6rem !important;
    font-family: 'Mitr', sans-serif !important;
}

@media only screen and (min-width:735px) {
    .modalContainer{
        width: 20% !important;
    }
}