.add-request-container{
    background-image: url("public/imgs/bg.jpg");
    background-attachment: fixed;
    overflow-x: hidden;
}

.form-add-request-container{
    animation-duration: 2s;
    display: grid;
    margin-top: 3rem;
    grid-template-columns: auto auto;
    animation-duration: 2s;
    padding-top: 7rem;
}

.form-add-request-container select{
    font-size: 16px;
    font-family: var(--font-arabic);
    width: 80%;
    margin: 1rem auto;
    color: var(--third-color);
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.input-form-add-request-inner-container, .address-add-request-container{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.input-form-add-request-inner-container label {
    font-family: var(--font-arabic);
    color: var(--secondary-color);
}

.address-add-request-container{
    display: grid;
    grid-template-columns: auto auto;
    animation-duration: 2s;
    gap: 1rem;
}

.input-form-add-request-inner-container input, .address-add-request-container input, .input-form-add-request-inner-container textarea{
    background-color: var(--third-color);
    border-bottom: 1px solid var(--third-color);
    border-radius: 4px;
    color: var(--main-color);
    font-family: var(--font-arabic);
    text-align: right;
    padding-right: 0.5rem;
}

.add-request-add-cancel-btns-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 2.5rem auto;
}

.add-request-add-cancel-btns-container button{
    padding: 0.5rem;
    font-family: var(--font-arabic);
    border-radius: 0.5rem;
}

.btn-add{
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--secondary-color);
    margin-right: 0.8rem;
}

.btn-remove{
    background-color: #ff4949;
    color: var(--third-color);
    border: 1px solid #ff4949;
}

.btn-next-container{
    width: 40%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
}

.btn-add-request-next{
    padding: 0.3rem;
    font-family: var(--font-arabic);
    color: var(--secondary-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 0.3rem;
}

.address-add-request-container select {
    width: 100%;
    font-size: 16px;
    color: var(--third-color);
    padding: 0.3rem;
    font-family: var(--font-arabic);
    border-radius: 0.2rem;
}

.submit-add-request-btn-container{
    padding-bottom: 2rem;
    margin: auto 1rem;
}

@media only screen and (min-width: 735px) {
    .add-request-container{
        background-image: url('public//imgs/bg-big.jpg');
    }
    .form-add-request-container{
        width: 50%;
        margin: auto;
    }

    .form-add-request-container select{
        color: var(--main-color);
        width: 80%;
    }

    .address-add-request-container select {
        color: var(--main-color);
        width: 100%;
    }

    .add-request-add-cancel-btns-container{
        width: 25%;
        margin: 2rem auto;
    }

    .btn-next-container{
        width: 25%;
    }

    .address-add-request-container{
        width: 50%;
        margin: auto;
    }

    .submit-add-request-btn-container{
        margin-top: 2rem;
    }
}