.login-auth-container{
    margin: 10rem auto;
}

.title-auth-page{
    text-align: center;
    font-family: var(--font-english);
    font-size: 18px;
    color: #620000; 
}

.user-type-auth-inner-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem auto;
    /* padding: 0.5rem; */
}

.user-type-auth-inner-container p{
    text-align: center;
    font-family: var(--font-english);
    font-size: 17px;
    font-weight: 500;
}

.user-type-inner-container{
    padding: 1rem;
}

.active{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--secondary-color);
}

.login-auth-form-container{
    width: 70%;
    margin: auto;
}

.login-auth-form-container input{
    margin-bottom: 1rem;
}

.login-auth-form-container button{
    width: 50%;
    margin: auto;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--third-color);
    padding: 1rem;
    border-radius: 0.2rem;
    margin-left: 4rem;
}

.footer-auth-text{
    text-align: center;
    color: var(--secondary-color);
    font-family: var(--font-english);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media only screen and (min-width:735px) {
    .login-auth-container{
        margin: 15rem auto;
    }
    .user-type-auth-inner-container{
        width: 40%;
        /* margin: auto; */
    }

    .login-auth-form-container{
        width: 40%;
        margin: auto;
    }

    .login-auth-form-container button{
        width: 25%;
        margin-left: 14rem;
    }
}