@import url('https://fontlibrary.org//face/droid-arabic-kufi');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --main-color: #1d1d1d;
    --secondary-color: #ffd523;
    --third-color: #ebebeb;
    --font-arabic: 'DroidArabicKufiRegular';
    --font-english: 'Raleway', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow-x: hidden; */
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

input, textarea{
    font-size: 16px;
    outline: none;
}

input:focus, textarea:focus{
    outline: none;
}

textarea{
    resize: none;
}

.english{
    font-family: var(--font-english) !important;
}

.english-input{
    font-family: var(--font-english) !important;
    text-align: left !important;
    padding: 0.2rem;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button{
    cursor: pointer;
}