.grid-data-container{
    width: 80%;
    margin: auto;
}


.grid-data-icon-title-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

/* .children-grid-data-style{
    width: 80%;
    margin: auto;
} */

.grid-data-title{
    font-family: var(--font-english);
    font-weight: 500;
    color: var(--main-color);
    font-size: 15px;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.grid-data-icon{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 0.5rem;
    width: 35%;
    margin-right: 0.5rem;
}

.data-text-container{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}

.data-text{
    text-align: center;
    font-family: var(--font-english);
    font-weight: bold;
    color: var(--secondary-color);
    padding: 0.5rem;
}

@media only screen and (min-width: 735px) {
    .grid-layout-container{
        display: grid;
        grid-template-columns: auto auto auto;
        place-items: center;
    }
    /* .grid-data-container{
        width: 40%;
        margin: auto;
    } */
    .data-text{
        padding: 1.5rem;
        font-size: 19px;
    }
}