@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bg-header: #f1f1f1;
    --text-active: black;
    --nav-link-container-color: #e6e6e6;
    --radius-ratio: 3rem;
    --font-color: #400082;
    --background: #FE346E;
    --font-family-arabic: 'El Messiri', sans-serif;
    --font-family-english: 'Urbanist', sans-serif;
}

.header{
    background-color: var(--bg-header);
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 2rem;
    place-items: center;
}

.img-container{
    background-color: var(--background);
    border-radius: 7px;
}
.img-container img{
    padding: 2rem;
}

.img-text{
    text-align: center;
    font-family: var(--font-family-arabic);
    color: var(--font-color);
    font-weight: 400;
}

.title{
    text-align: center;
    font-family: var(--font-family-arabic);
    font-weight: bold;
    font-size: 2rem;
    color: var(--font-color);
    padding: 1.5rem;
}

.steps{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding: 2rem;
    place-items: center;
}

.step-title{
    text-align: center;
    font-family: var(--font-family-arabic);
    font-weight: bold;
    font-size: 1rem;
    color: var(--font-color);
    padding: 1.5rem;
    padding-bottom: 0rem;
}

.step-img-container{
    background-color: #F1E7B6;
    border-radius: 7px;
}

.step-img-container img{
    padding: 1.5rem;
}




.step-title-container{
    display: flex;
   flex-direction: row;
   justify-content: center;
}

.step-title-text{
    background-color: var(--background) !important;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: white;
    padding: 1rem;
}





@media only screen and (min-width:735px) {
    .header{
        grid-template-columns: auto auto auto;
    }
    .steps{
        grid-template-columns: auto auto auto;
    }
}