.landing-section-container{
    margin-top: 7.01rem;
    position: relative;
    width: 100%
}

.landing-cars-inner-container{
    position: relative;
    height: 100%;
}

.landing-section-container h1{
    font-family: var(--font-arabic);
    text-align: center;
    color: var(--third-color);
    padding-top: 5rem;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.landing-option-inner-container{
    display: grid;
    grid-template-columns: auto auto;
    place-items: center;
    margin-top: 3rem;
}

.landing-option-inner-container div{
    width: 50%;
}

.option-container{
    border: 1px solid var(--third-color);
    padding: 1.5rem;
    border-radius: 0.4rem;
    margin: auto;
    animation-duration: 2s;
}

.option-container h3 {
    font-family: var(--font-arabic);
    font-size: 13px;
    text-align: center;
    color: var(--third-color);
}

.header-container{
    background-image: url("../public/imgs/bg.jpg");
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    height: 60vh;
    transition: all 0.3s ease-in;
}

.icon-style {
    width:75%;
    margin-left:0.6rem;
    margin-top:0.7rem;
    animation-name: iconPulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.form-landing-container{
    display: none;
    margin-top: 3rem;
    grid-template-columns: auto auto;
    animation-duration: 2s;
}

.form-landing-container select, .address-landing-container select {
    font-size: 16px;
    font-family: var(--font-arabic);
    width: 80%;
    margin: auto;
    color: var(--third-color);
    padding: 0.3rem;
    border-radius: 0.2rem;
}

.input-form-inner-container, .address-landing-container{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.input-form-inner-container label {
    font-family: var(--font-arabic);
    color: var(--secondary-color);
}

.input-form-inner-container input, .address-landing-container input, .input-form-inner-container textarea{
    /* padding: 0.01rem; */
    background-color: var(--third-color);
    border-bottom: 1px solid var(--third-color);
    border-radius: 4px;
    color: var(--main-color);
    font-family: var(--font-arabic);
    text-align: right;
    padding-right: 0.5rem;
}

.next-step-landing{
    display: none;
    padding: 0.2rem;
    font-family: var(--font-arabic);
    text-align: center;
    width: 40%;
    margin: 2rem 6rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
    outline: none;
    animation-duration: 2s;
}

.next-step-landing{
    /* width: 15%; */
    margin: 3rem 6.8rem;
    cursor: pointer;
}

.address-landing-container{
    display: none;
    grid-template-columns: auto auto;
    animation-duration: 2s;
    gap: 1rem;
}

.address-landing-container select{
    width: 100%;
}

.address-landing-container input[name=district], .address-landing-container input[name=street]{
    margin-top: 3rem;
}



.submit-step-landing{
    display: none;
    padding: 0.2rem;
    font-family: var(--font-arabic);
    text-align: center;
    width: 40%;
    margin: 2rem 8rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    outline: none;
}

/* .submit-step-landing {
    width: 15%;
    margin: 3rem 6.8rem;
    cursor: pointer;
} */

.icon-landing-style {
    position: absolute;
    top: 4rem;
    right: 10rem;
    animation: iconAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.english-field{
    padding: 0.2rem;
    padding-left: 0.2rem;
}

.steps-landing-contiainer{
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}

.step-title-container{
    width: 70%;
    margin-left: 1.7rem;
    padding: 2rem;
    background-color: var(--third-color);
    animation-duration: 2s;
}

.step-title-text{
    font-family: var(--font-arabic);
    color: var(--main-color);
    font-size: 20px;
}

.step-title-text-english{
    font-family: var(--font-english);
    color: var(--main-color);
    font-size: 15px;
}

.step-title{
    color: var(--third-color);
    font-family: var(--font-arabic);
    font-size: 17px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.step-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}
.step-left{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.step-right p{
    text-align: center;
}

.step-left p{
    text-align: center;
}

.step-icon-right{
    width: 10%;
    padding-right: 5rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.step-icon-left{
    width: 10%;
    padding-left: 5rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.hr-landing-steps{
    width: 70%;
    margin: 1.5rem auto;
    color: var(--third-color);
}

.order-now-landing-container{
    background-color: var(--third-color);
}

.order-now-landing-container h1{
    padding-top: 1.5rem;
}

.btn-order-now-landing-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    padding-top: 2rem;
    padding-bottom: 2rem;
}


.btn-order-now-landing-container button{
    width: 38%;
    padding: 1rem;
    border: 1px dotted var(--main-color);
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-family: var(--font-arabic);
    border-radius: 0.2rem;
}

.registration-landing-form{
    display: none;
    animation-duration: 2s;
}

.warning-landing-text{
    color: #ff6262;
    font-family: var(--font-arabic);
    /* width: 50%; */
    text-align: center;
}

@keyframes iconPulse {
    from{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1,1,1);
    }
    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
      }
    to{
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@media only screen and (min-width: 735px){
    .landing-option-inner-container{
        width: 60%;
        margin: 3rem auto;
        cursor: pointer;
    }
    .header-container{
        background-image: url("../public/imgs/bg-big.jpg");
    }
    .option-container h3{
        font-size: 20px;
    }
    .icon-style {
        width: 25%;
        margin-left: 5.2rem;
    }
    .form-landing-container{
        width: 50%;
        margin: auto;
    }
    .next-step-landing{
        width: 15%;
        margin: 3rem auto;
        cursor: pointer;
    }
    .address-landing-container{
        width: 50%;
        margin: 3rem auto;
    }

    .submit-step-landing {
        width: 15%;
        margin: auto;
        cursor: pointer;
    }

    .form-landing-container select{
        color: var(--main-color);
        width: 80%;
    }

    .address-landing-container select {
        color: var(--main-color);
        width: 100%;
    }

    .address-landing-container input[name=district], .address-landing-container input[name=street]{
        padding: 0.2rem;
    }

    .step-title-container{
        margin-left: 35rem;
        width: 20%;
    }

    .steps-landing-contiainer{
        overflow: hidden;
    }

    .step-icon-right{
        width: 5%;
        padding-right: 25rem;
    }

    .step-icon-left {
        width: 5%;
        padding-left: 25rem;
    }

    .order-now-landing-container button{
        width: 20%;
    }

    .step-title-text-english{
        font-size: 20px;
    }
    
    .registration-landing-form{
        width: 30%;
        margin: 1.5rem auto;
    }

}