.modal-container{
    position: absolute;
    /* display: none; */
    width: 95%;
    background-color: var(--main-color);
    z-index: 1000;
    top: -200%;
    left: 2.7%;
    border-radius: 0.5rem;   
}

.show-login{
    top: 40%;
    animation-duration: 1s;
}


.header-modal-login-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1.5rem;
}

.login-title{
    color: var(--secondary-color);
    font-family: var(--font-arabic);
}

.user-type-container{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    align-items: center;
    cursor: pointer;
}

.user-type-container p{
    color: var(--third-color);
    font-family: var(--font-arabic);
    /* width: 50%; */
    margin: 2rem 4rem;
    text-align: center;
}

.register-text{
    text-align: center;
    font-family: var(--font-arabic);
    color: var(--third-color);
    margin: 2rem auto;
    cursor: pointer;
}

.form-auth-container{
    width: 80%;
    margin: 3rem auto;
}

.form-auth-container input{
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-align: right;
    font-family: var(--font-arabic);
}

::placeholder{
    font-family: var(--font-arabic);
}

.form-auth-container button {
    width: 40%;
    margin: 0.7rem 5.2rem;
    background-color: var(--secondary-color);
    color: var(--main-color);
    border-color: var(--main-color);;
    font-family: var(--font-arabic);
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.field-container{
    display: grid;
    grid-template-columns: auto auto auto;
    place-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.field-title{
    text-align: center;
    font-family: var(--font-arabic);
    color: var(--secondary-color);
    margin-top: 1rem;
}

.field-container label {
    color: var(--third-color);
    font-family: var(--font-arabic);
}

.cars-brands-container{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2rem;
}

.cars-brands-container label {
    color: var(--secondary-color);
    font-family: var(--font-arabic);
    font-size: 15px;
}

.upload-container{
    border: 1px solid var(--third-color);
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin: 2rem auto;
}

.upload-container label{
    text-align: center;
    color: var(--secondary-color);
    display: block;
    font-family: var(--font-arabic);
}

.forget-pass-text{
    text-align: center;
    font-family: var(--font-arabic);
    font-size: 13px;
    font-weight: 200;
    padding-bottom: 1rem;
}


.forget-pass-text a {
    color: var(--secondary-color);
}

.forget-password-container{
    margin: 10rem auto 25rem auto;
}
.to-website-link{
    margin: 2rem auto;
    background-color: var(--main-color);
    border: 1px solid var(--third-color);
    width: 40%;
    text-align: center;
}

.to-website-link a {
    color: var(--third-color);
    padding: 0.5rem;
    font-family: var(--font-arabic);
    text-align: center;
}



.send-email input {
    font-family: var(--font-english);
}

.send-email button {
    width: 70% !important;
    font-family: var(--font-arabic) !important;
    padding: 0.3rem !important;
    margin-left: 3rem !important;
}

@media only screen and (min-width:735px) {
    .modal-container{
        width: 30%;
        left: 35%;
    }
    .show-login{
        top: 20%;
    }
    .form-auth-container button{
        margin-left: 7rem;
        cursor: pointer;
    }
    .cars-brands-container{
        grid-template-columns: auto auto auto;
        place-content: center;
        gap: 7px;
    }

    .to-website-link {
        width: 15%;
    }

    .send-email button{
        width: 42% !important;
        margin-left: 10rem !important;
    }
}