.nav-outer-container{
    position: fixed;
    top: 0;
    height: 7rem;
    background-color: var(--main-color);
    transition: all 0.3s;
    z-index: 10000;
}

.nav-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo-link{
    font-family: var(--font-arabic);
    color: var(--secondary-color);
    font-size: 18px;
    /* font-weight: bold; */
}


.ul-nav-container{
    display: none;
    grid-template-columns: auto auto auto;
    place-items: center;
    margin-left: 1rem;
    animation-duration: 1s;
}

.ul-nav-container li{
    list-style: none;
    padding: 0.5rem;
}

.ul-nav-container li > a{
    color: var(--third-color);
    font-family: var(--font-arabic);
}

.nav-container-mobile{
    display: block;
}

.menu-icon {
    animation-name: iconAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;
    overflow: hidden;
}

.auth-btn-container button{
    background-color: transparent;
    padding: 0.5rem;
    border: 1px dashed var(--secondary-color);
    color: var(--third-color);
    font-family: var(--font-arabic);
}

@keyframes iconAnimation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


@media only screen and (min-width: 735px) {
    .nav-container{
        padding-left: 10rem;
    }
    .ul-nav-container{
        grid-template-columns: auto auto auto auto auto;
        margin-left: 8rem;
    }

    .auth-btn-container {
        width: 40%;
    }

    .auth-btn-container button{
        cursor: pointer;
    }

}