.all-requests-outer-container{
    margin-top: 10rem;
}

.all-requests-container{
    margin: 2rem auto;
    width: 80%;    
}

.all-requests-inner-container{
    border: 1px solid var(--main-color);
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin-top: 1.5rem;
    background-color: white;
    box-shadow: 0px 1px 5px var(--main-color);
    position: relative;
}

.request-status{
    display: flex;
    justify-content: space-between;
    
}

.request-status p {
    font-family: var(--font-arabic);
    text-align: center;
}

.hr {
    margin: 1rem auto;
}

.more-details-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.more-details-container p{
    font-family: var(--font-arabic);
}

.description-text{
    font-family: var(--font-arabic);
    text-align: center;
}

.date-text{
    text-align: center;
    font-family: var(--font-arabic);
    font-weight: 400;
    color: #ff274b;
    margin-bottom: 0.2rem;
}

.request-number{
    text-align: center;
    font-family: var(--font-arabic);
    font-weight: 600;
    color: #003e54;
}



.details-btn-container{
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    place-items: center;
}

.details-text{
    border-right: 2px solid var(--main-color);
    font-family: var(--font-arabic);
    font-size: 13px;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--secondary-color);
    cursor: pointer;
    width: 70%;
    border-radius: 0.1rem;
}

.offer{
    color: #ff274b;
    font-family: var(--font-arabic);
    font-weight: 600;
    text-align: center;
    margin: 0.5rem auto;
}

.cancel-request-btn{
    font-family: var(--font-arabic);
    font-size: 13px;
    font-weight: 600;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid #c90021;
    background-color: #c90021;
    color: var(--third-color);
    cursor: pointer;
    width: 70%;
    border-radius: 0.1rem;
}

.client-text{
    text-align: center;
    font-family: var(--font-arabic);
    color: #3e003b;
    font-weight: 500;
    font-size: 15px;
}


.shipment-option-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.shipment-option-container label{
    font-family: var(--font-arabic);
    color: var(--main-color);
}

.shipment-option-container input{
    width: 25px;
}

.supplier-add-offer{
    text-align: right;
    font-family: var(--font-arabic);
    border-radius: 0.3rem;
    border: 1px solid var(--main-color);
    padding: 0.2rem;
    width: 95%;
    margin: 0.3rem auto;
}

.submit-offer-btn{
    padding: 0.2rem;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--secondary-color);
    font-family: var(--font-arabic);
    width: 50%;
    margin: 0.2rem 5rem;
}

.no-request-text-container{
    margin: 10rem auto 25rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.no-request-text-container p{
    text-align: center;
    font-family: var(--font-arabic);
    font-weight: bold;
    font-size: 18px;
}

.no-order-btns-cars{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--secondary-color);
    padding: 0.3rem;
    font-family: var(--font-arabic);
    width: 70%;
    margin: 2rem 3.5rem;
}

.no-order-btns-vehicles{
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    color: var(--third-color);
    padding: 0.3rem;
    font-family: var(--font-arabic);
    width: 70%;
    margin: 2rem 3.5rem;
}

.amount{
    text-align: center;
    font-family: var(--font-arabic);
    font-weight: 200;
}


.shipping-name-container p{
    text-align: center;
    font-family: var(--font-arabic);
}



@media only screen and (min-width:735px) {
    .all-requests-container{
        display: grid;
        grid-template-columns: auto auto;
        place-content: center;
        gap: 7rem;
    }
    .description-text{
        text-align: center;
        font-weight: 600;
        color: #003e54;
    }

    .no-request-text-container{
        margin-bottom: 35rem;
    }

    .no-order-btns-cars, .no-order-btns-vehicles{
        display: block;
        width: 30%;
        margin: 2rem 33rem;
    }
}