.table-container{
    table-layout: fixed;
    background-color: var(--main-color);
    border-collapse: collapse;

}

.table-container th, .table-details-container th{
    color: var(--third-color);
    font-family: var(--font-english);
    padding: 0.5rem;
}

.table-container td, .table-details-container td{
    text-align: center;
    padding: 0.5rem;
    font-family: var(--font-english);
    color: var(--secondary-color);
    border-bottom: 1px solid var(--third-color);
}

.table-details-container{
    /* table-layout: fixed; */
    background-color: var(--main-color);
    border-collapse: collapse;
    margin-bottom: 4rem;
    display: block;
    overflow-x: auto;
}

@media only screen and (min-width:735px){
    .table-details-container{
        /* table-layout: fixed; */
        width: 70%;
        margin: auto;
        margin-bottom: 10rem;
    }

    /* .table-details-container th, .table-details-container td{
        width: 40%;
        text-align: center;
    } */
}