:root {
    --bg-header: #f1f1f1;
    --text-active: black;
    --nav-link-container-color: #e6e6e6;
    --radius-ratio: 3rem;
    --font-color: #400082;
    --background: #FE346E;
    --font-family-arabic: 'El Messiri', sans-serif;
    --font-family-english: 'Urbanist', sans-serif;
}

.table-container{
    width: 100%;
    text-align: center;
}


.table-container tr, .table-details-container tr{
    border-bottom: 1px solid var(--font-color);
    /* position: relative; */
}

.table-details-container td{
    padding: 1rem;
}

.table-details-container{
    width: 90%;
    height: 90%;
    text-align: center;
    display: block;
    overflow: auto;
    margin: auto;
    border-collapse: collapse;
    position: relative;
}

.table-container th, .table-details-container th{
    color: var(--font-color) ;
    font-family: var(--font-family-english);
    font-weight: bold;
    font-size: 14px;
}


.table-container td, .table-details-container td{
    color: var(--background);
    font-family: var(--font-family-english);
    font-size: 14px;
    font-weight: 500;
}


@media only screen and (min-width:735px){
    .table-details-container{
        width: max-content;
    }
    .table-container td{
        padding: 1rem;
        border-bottom: 1px solid var(--font-color);
    }
}